/*START GENERAL STYLES*/
* {
		font-family: "Lato", arial, sans-serif;
}

p {
	font-family: "Lato", arial, sans-serif;
	font-size: 17px;
}

.text-center {
	text-align: center;
}

.text-vcenter {
	vertical-align: middle;
}

.top-buffer-big { 
	margin-top: 50px; 
}

.top-buffer-mini {
	margin-top: 20px;
	display: block;
}

span.open-recipe {
	cursor: pointer;
	font-size: 1.5em;
}

.product-recipe-hidden {
	display: none;
	background-color: #cccccc;
}

.product-recipe-hidden.active {
	display: block;
}



/*START HEADER STYLES*/
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-default .container-fluid {
	background-color: black;
}

.navbar-default .container-fluid ul li {
	color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #458B00;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: black;
}

.navbar-brand, .navbar-nav>li>a {
	text-shadow: none;
}

.navbar ul.dropdown-menu li.product-select {
	padding-left: 5px;
	cursor: pointer;
}

.navbar-nav .open .dropdown-menu {
	background: #ccc;
}
/*END HEADER STYLES*/




/*START FOOTER STYLES*/
.footer-container {
	/*margin-bottom: 70px;*/
	/*position: absolute;*/
  	bottom: 0;
  	width: 100%;
}

.footer-upper {
	position: absolute;
	bottom: 60px;
	width: 100%;
	text-align: left;
	background: #42454e;
}

.footer-upper ul, .footer-upper ul li, .footer-upper p, .footer-upper a {
	list-style-type: none;
	font-size: 14px;
	color: #7e8b8c;
	padding-bottom: 10px;
	font-weight: bold;
	line-height: 150%;
}

.footer-container ul {
	margin-left: -43px;
}

.footer-container h3 {
	color: #ffffff;
	font-size: 14px;
}

.footer-container span.thanks {
	font-size: 14px;
	color: #a9ddda;
	text-transform: none;
}

.copyright-container {
	background: #373a41;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 60px;
	line-height: 150%;
	position: absolute;
	bottom: 0px;
	text-align: center;
}
 
 .copyright-container small {
	font-size: 14px;
	font-weight: normal;
 }

		/*END FOOTER STYLES*/



/*END GENERAL STYLES*/









main.product-main {
	display: none;
}

main.product-main.active {
	display: block;
}

/*START HOME PAGE STYLES*/
body.full {
  background: url(../images/index1kiwi.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
} 

.container.jumbotron {
	background-color: transparent;
	min-height: 500px !important;
}

.container .text {
	color: white;
	text-align: center;
	vertical-align: middle;
	float: none;
	margin-top: 30%;
}

.btn.btn-primary.btn-lg.home-button {
	border-radius: 30px;
	background: black;
	border: black;
}

.btn.btn-primary.btn-lg.home-button:hover {
	background: #888888;
}

/*END HOME PAGE STYLES*/


/*START PRODUCTS PAGE STYLES*/
.product-image {
	margin: 0px;
	width: 100%;
	height: 500px;
	background-size: cover;
	display: block;
} 

.region-image {
	margin: 10px;
}

.figs.product-image {
	background: url(../images/products/1_Headers/1_figs.png) no-repeat center center;
	background-size: cover;
}

.mandarins.product-image {
	background: url(../images/products/1_Headers/2_mandarins.png) no-repeat fixed center center;
}

.kiwis.product-image {
	background: url(../images/products/1_Headers/3_kiwis.png) no-repeat fixed center center;
}

.plums.product-image {
	background: url(../images/products/1_Headers/4_plums.png) no-repeat fixed center center;
}

.apricots.product-image {
	background: url(../images/products/1_Headers/5_apricots.png) no-repeat fixed center center;
}

.limes.product-image {
	background: url(../images/products/1_Headers/6_limes.png) no-repeat fixed center center;
}

.persimmons.product-image {
	background: url(../images/products/1_Headers/7_persimmons.png) no-repeat fixed center center;
}

.pineapple_quince.product-image {
	background: url(../images/products/1_Headers/8_pineapple_quince.png) no-repeat fixed center center;
}


.products-table {
	position: relative;
}

table, table tr, table tr th, table tr td {
  text-align: center;
  padding: 10px 0px;
  border: 1px solid #eeeeee;
  }

.icon-image p {
	/*display: inline-block; */
	/*position: relative;*/
}

.icon-image img {
	max-height: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	/*position: absolute;*/
}

.recipe-image img {
 	width: 100%;
 	padding: 30px;
}

.recipe-name {
	margin-top: 50px;
}

.product-recipe-hidden {
	/*display: none;*/
}

.product-recipe-hidden ul li {
	list-style-type: none;
	text-align: left;
}
